@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply box-border
  }
  body{
  counter-reset: section;
  @apply bg-[#131a25] text-[#ffffff]
  }
  .container_{
   @apply px-[20px] m-0 h-full w-full
  }
  /* header section */
  header{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    @apply
    flex flex-row
    items-center bg-[#ffffff00]
    border border-[#ffffff00]
    w-full h-[70px]
    fixed top-0
    z-30
  }
  nav {
    @apply
    hidden sm:block
    text-center
    w-full
    
  }
  ul {
    @apply
    list-none
  }
  li {
    @apply px-4 py-2
    inline-block
    font-bold
    text-lg
  }

  li a {
    @apply flex flex-col gap-0
  }
  li .idx{
    @apply text-[0.6rem] self-end
    leading-none font-roboto-mono
  }
  li .idx::before{
    counter-increment: section;
    content:"0"counter(section) ;
    @apply opacity-100
  }
  li .nav-item-title {
    @apply m-0 p-0
    leading-none
    whitespace-nowrap
  }
  li .nav-item-title::before{
    @apply content-[attr(before)]
  }

  /* mobile side bar */
  .mbl-overlay-container {
    @apply block sm:hidden
  }
  #sideBar-container{
    top: 0;
    left: 0;
    @apply w-screen h-screen
    flex flex-row
     z-20 absolute
  }
  #btnClose {
    @apply rounded-full p-4
    hover:bg-[#e5e5e5]
  }

  #sideBar{
    @apply p-4
    w-[85%] h-full
    bg-[#efefef]
    text-black font-light
  }
  #overlay{
    background: rgba(255, 255, 255, 0.102);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255,255,255,0.05);
    @apply w-[15%] h-full
    bg-transparent
  }
  #mbl-nav > ul > li{
    @apply block
     my-2
  }

  /* end header */

  .cursor{
    position: fixed;
  width: 10px;
  height: 10px;
  background: #8b5cf6;
  /* margin: -3px; */
  border-radius: 80%; 
  backface-visibility: hidden;
  }
  @keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

  /* start main */
  /* main{
    
  } */
  main section {
    @apply h-screen pt-16
    border border-black
  }
  #home {
    @apply relative border-0
  }
  #heroTitle{
    animation: toFill 0.5s ease forwards 3s;
  }
  @keyframes line-anim {
    0% {
      stroke:#2C49D8 ;
      stroke-dashoffset: 100%;
    }
    50%{
      stroke:#088da5;
      stroke-dashoffset: 50%;
    }
    100% {
      stroke:white;
        stroke-dashoffset: 0;
    }
  }
  @keyframes toFill {
    0%{
        fill: transparent;
    }
    /* 20%{
      fill:transparent
    }
    40%{
      fill:transparent
    }
    60%{
      fill:transparent
    }
    80%{
      fill:transparent
    } */
    100% {
        fill:white;
    }
  }
  .exp-wrapper{
    @apply flex flex-row gap-0

    }
  /* expertise */
  .exp-item {
    @apply w-[200px] h-[200px] border-2 border-l-white
  }
}

  